.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local env files
.env
.env.*
!.env.example
!**/.env.example

# Node
node_modules/
dist/
.next/
out/
coverage/
playwright-report/
test-results/
*.tsbuildinfo
npm-debug.log*
