DATABASE_URL="postgresql://tele_admin:tele_password@localhost:5432/tele?schema=public"
HOST="127.0.0.1"
PORT="3000"
LOG_LEVEL="info"
COGNITO_ISSUER=""
COGNITO_CLIENT_ID=""
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
